@charset "UTF-8";

@font-face {
    font-family: 'danube';
    src: url(../fonts/DANUB___.TTF) format('truetype');
}

@font-face {
    font-family: 'bebas';
    src: url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

:root {
    --font1: 'danube';
    --font2: 'Bebas';
    --cor1: #0B1C54;
}

.links {
    font-weight: bold;
}


main {
    background-color: rgb(4, 4, 31);
}

.img-home {
    background-image: url(../images/home-site-projeto-iphone.jpg); 
    height: 667px;
    width: 375px;
    margin: auto;          
}

article {
    position: relative;
}

.line {
    width: 200px;
    height: 5px;
    background-color: orange;
    margin: auto;
}

.img {    
    width: 375px;
    height: 375px;   
    margin: auto;
    background-position: center;    
}

.img-1 {
    background-image: url(../images/images-quadradas-p1.jpg);    
}

.img-2 {
    background-image: url(../images/images-quadradas-p2.jpg);
}

.img-3 {
    background-image: url(../images/images-quadradas-p3.jpg);
}

.img-4 {
    background-image: url(../images/images-quadradas-p4.jpg);
}

.img-5 {
    background-image: url(../images/images-quadradas-p5.jpg);
}

.img-6 {
    background-image: url(../images/images-quadradas-p6.jpg);
}

.img-7 {
    background-image: url(../images/images-quadradas-p7.jpg);
}

.textos {
    background-color:white;
    width: 375px;
    margin: auto;
}

.textos > h1 {
    color: var(--cor1);
    padding: 15px 15px 0px 15px;
    font-size: 1.8em;
    font-family: var(--font2);
}

.textos > h3 {
    padding: 5px 30px 30px 30px;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.8em;    
}

h4 {
    padding: 15px 15px 0px 15px;
    color: var(--cor1);
    font-family: var(--font2);
    font-size: 1.2em;
}

.videos {
    margin: auto;
}

.youtube {
    height: 200px;
    width: 375px;
    margin: auto;
}



table {
    width: 375px;
    border-collapse: collapse;    
}

td, th {
    border: 0px solid black;
    padding: 10px;     
}

thead{
    background-color: var(--cor1);
    color: white;
}

thead > tr > th {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
}

/* tbody > tr:nth-child(2n) {
    background-color: rgb(211, 211, 211);
} */

tbody > tr:nth-child(odd) {
    background-color: rgb(142, 184, 231);
}

tbody > tr:nth-child(even) {
    background-color: rgb(163, 215, 231);
}

.pop {
    width: 50px;
}

.total {
    font-weight: bold;
    background-color: #0B1C54;
    color: white;
}

tfoot{
    background-color: grey;
    color: white;
}